@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat-VariableFont_wght.ttf)
}

* {
    box-sizing: border-box;
    font-family: Montserrat;
}

html, body {
    margin: 0;
    padding: 0;
}